<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>iPhone SDK 2.2.0.9000000000</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mpkg.iPhoneSDK</string>
	<key>CFBundleName</key>
	<string>iPhone SDK</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0.9000000000</string>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>RootAuthorization</string>
	<key>IFPkgFlagComponentDirectory</key>
	<string>./Contents/Installers/</string>
	<key>IFPkgFlagFollowLinks</key>
	<true/>
	<key>IFPkgFlagIsRequired</key>
	<false/>
	<key>IFPkgFlagRootVolumeOnly</key>
	<false/>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
	<key>IFPkgHideSubpackages</key>
	<true/>
	<key>requiredSLA</key>
	<string>EA0482</string>
	<key>requiredSLA2</key>
	<string>EA0495</string>
</dict>
</plist>
