<?xml version="1.0"?>

<installer-gui-script minSpecVersion='1'>

	<title>XcodeTools_title</title>
	<options hostArchitectures='ppc,i386'/>
	<license file="License.rtf" sla="EA0482"/>
	<welcome file='Welcome.rtf'/>
    <background file="background.tiff" scaling="proportional" alignment="bottomleft"/>
    <options allow-external-scripts="yes" customize="always" rootVolumeOnly="true"></options>
	
	<script>

		function isNotServer()
		{
			return (system.files.fileExistsAtPath(my.target.mountpoint+ "/System/Library/CoreServices/ServerVersion.plist") == false);
		}
	
		function volumeCheck()
		{
			if (system.env.OS_INSTALL == 1 )
			{
				return true;
			}

			// must have an os
			if( system.files.fileExistsAtPath(my.target.mountpoint + "/System/Library/CoreServices/SystemVersion.plist") == false )
			{
				my.result.type = 'Fatal';
				my.result.message = system.localizedString('ERROR_OSVER');
				return(false);
			}

			//10.5 or above
			if( system.compareVersions(my.target.systemVersion.ProductVersion, '10.5') == -1 )
			{
				my.result.type = 'Fatal';
				my.result.message = system.localizedString('ERROR_OSVER');
				return(false);
			}
			
			return true;
		}
		
		function isNotDowngrade()
		{
			var action = my.choice.packageUpgradeAction;
			
			if( (action == 'downgrade') || (action == 'mixed') )
			{
				my.choice.tooltip = system.localizedStringWithFormat('TT_NEWERALREADYINSTALLED');
				return false;
			}
			
			return true;
		}
		
		function x11Installed()
		{
			return system.files.fileExistsAtPath(my.target.mountpoint + "/usr/X11/lib/libX11.la");
		}
		
		function agreedToSLA()
		{
			var res = system.run("tempfileexists", "insttmp_37253734");
			if( res == 0  ){ return true; }
			
			my.choice.tooltip = system.localizedStringWithFormat('TT_NOIPHONESDK');
			return false; 
		}
		
		function SDKPresent()
		{
			var res = system.run("tempfileexists", "insttmp_37253735");
			if( res == 0  ){ return true; }
			
			system.log("To install the iPhone SDK you need to agree to the iPhone SDK License agreement through the GUI interface.");
			return false; 
		}
		
		function isgte106()
		{
			// 10.6 or above
			if( system.compareVersions(my.target.systemVersion.ProductVersion, '10.6') &gt;= 0 )
			{
				return true;
			}
			
			return false;
		}
		
		function isIntel()
		{
			var res = (system.sysctl('hw.byteorder') == '1234');
			
			if( !res ){ my.choice.tooltip = system.localizedStringWithFormat('TT_NOINTEL'); }
			
			return res;
		}
		
		function hasRightOS()
		{
			// 10.5.3 or above
			if( system.compareVersions(my.target.systemVersion.ProductVersion, '10.5.3') &gt;= 0 )
			{
				return true;
			}
			
			my.choice.tooltip = system.localizedStringWithFormat('TT_NOOS');
			return false;
		}
		
	</script>

	<volume-check script="volumeCheck()"/>

	<choices-outline>
		<line choice="DevTools">
			<line choice="DevToolsHIDDEN"/>
			<line choice="iPhoneSDKHIDDEN"/>
			<line choice="iPhoneSDK2_0HIDDEN"/>
			<line choice="iPhoneSDK2_1HIDDEN"/>
			<line choice="iPhoneSDK2_2HIDDEN"/>
			<line choice="CrossDevelopmentGroupHIDDEN"/>
			<line choice="RelocatableScriptHIDDEN"/>
		</line>
		
		<line choice="SystemScriptHIDDEN"/>
		
		<line choice="iPhoneSDK"/>
		<line choice="DeveloperToolsSystemComponents">
			<line choice="DeveloperToolsSystemComponentsHIDDEN"/>
		</line>
		<line choice="DeveloperToolsSystemSupportHIDDEN"/>
		<line choice="XcodeExtrasHIDDEN"/>
		<line choice="UNIXDevelopmentSupport">
			<line choice="UNIXDevelopmentSupportHIDDEN"/>
		</line>
		<line choice="CrossDevelopmentGroup"/>
		<line choice="WebObjectsGroup"/>
	</choices-outline>


<choice 
	id="DevTools"
	title="DevTools_title"
	description="DevTools_description"
	enabled = 'false'
	start_selected = 'true'
	customLocation = '/Developer/'
	customLocationAllowAlternateVolumes = 'YES'
>
</choice>

<choice 
	id="DevToolsHIDDEN"
	start_visible = 'false'
	selected = 'my.choice.selected || choices.DevTools.selected'
>
	<pkg-ref id="com.apple.pkg.DeveloperTools"/>
	<pkg-ref id="com.apple.pkg.SystemScript" active="choices.DeveloperToolsSystemComponents.selected || choices.UNIXDevelopmentSupport.selected || choices.WebObjectsGroup.selected"/>
	<pkg-ref id="com.apple.pkg.OpenGLApps"/>
    <pkg-ref id="com.apple.pkg.DevToolsDocumentation"/>
	<pkg-ref id="com.apple.pkg.gcc4.0"/>
	<pkg-ref id="com.apple.pkg.gcc4.0ADCDocs"/>
	<pkg-ref id="com.apple.pkg.gcc4.2"/>
	<pkg-ref id="com.apple.pkg.gcc4.2ADCDocs"/>
	<pkg-ref id="com.apple.pkg.llvm-gcc4.2"/>
	<pkg-ref id="com.apple.pkg.MacOSX10.4.Universal"/>
	<pkg-ref id="com.apple.pkg.MacOSX10.5"/>
	<pkg-ref id="com.apple.pkg.DevExamples"/>
	<pkg-ref id="com.apple.pkg.DeveloperToolsCLI"/>
	<pkg-ref id="com.apple.pkg.DevDocumentation"/>
	<pkg-ref id="com.apple.pkg.OtherDevDocumentation"/>
	<pkg-ref id="com.apple.pkg.X11Documentation"/>
</choice>

<choice 
	id="iPhoneSDKHIDDEN"
	start_visible = 'false'
	selected = 'choices.iPhoneSDK.selected'
>
	<pkg-ref id="com.apple.pkg.iPhoneSDKHeadersAndLibs"/>
	<pkg-ref id="com.apple.pkg.iPhoneSimulatorPlatform"/>
	<pkg-ref id="com.apple.pkg.iPhoneHostSideTools"/>
	<pkg-ref id="com.apple.pkg.iPhoneDocumentation"/>
	<pkg-ref id="com.apple.pkg.DeveloperDiskImage"/>
</choice>

<choice 
	id="iPhoneSDK2_0HIDDEN"
	start_visible = 'false'
	selected = 'choices.iPhoneSDK.selected'
>
	<pkg-ref id="com.apple.pkg.iPhoneSDK2_0"/>
</choice>

<choice 
	id="iPhoneSDK2_1HIDDEN"
	start_visible = 'false'
	selected = 'choices.iPhoneSDK.selected'
>
	<pkg-ref id="com.apple.pkg.iPhoneSDK2_1"/>
</choice>

<choice 
	id="iPhoneSDK2_2HIDDEN"
	start_visible = 'false'
	selected = 'choices.iPhoneSDK.selected'
>
	<pkg-ref id="com.apple.pkg.iPhoneSDK2_2"/>
</choice>

<choice 
	id="CrossDevelopmentGroupHIDDEN"
	start_visible = 'false'
	selected = 'choices.CrossDevelopmentGroup.selected'
>
	<pkg-ref id="com.apple.pkg.gcc3.3ADCDocs"/>
	<pkg-ref id="com.apple.pkg.MacOSX10.3.9"/>
</choice>

<choice 
	id="SystemScriptHIDDEN"
	start_visible = 'false'
	selected="choices.DeveloperToolsSystemComponents.selected || choices.UNIXDevelopmentSupport.selected || choices.WebObjectsGroup.selected"
>
	<pkg-ref id="com.apple.pkg.SystemScriptNONONLY" active="!choices.DevToolsHIDDEN.selected"/>
</choice>

<choice 
	id="RelocatableScriptHIDDEN"
	start_visible = 'false'
	selected = 'my.choice.selected || choices.DevTools.selected'
>
	<pkg-ref id="com.apple.pkg.RelocatableScript"/>
</choice>

<choice 
	id="DeveloperToolsSystemComponents"
	title="DeveloperToolsSystemComponents_title"
	description="DeveloperToolsSystemComponents_description"
	enabled = '!isgte106()'
	start_selected="!isgte106()"
>
</choice>

<choice 
	id="DeveloperToolsSystemComponentsHIDDEN"
	customLocation = '/'
	customLocationAllowAlternateVolumes = 'YES'
	visible="false"
	start_selected="!isgte106()"
>
	<pkg-ref id="com.apple.pkg.CHUD"/>
	<pkg-ref id="com.apple.pkg.VersionedDeveloperToolsSystemSupport"/>
	<pkg-ref id="com.apple.pkg.DistributedBuildsSupport"/>
</choice>

<choice 
	id="DeveloperToolsSystemSupportHIDDEN"
	selected="choices.DeveloperToolsSystemComponents.selected || choices.UNIXDevelopmentSupport.selected"
	customLocation = '/'
	customLocationAllowAlternateVolumes = 'YES'
	start_visible='false'
>
	<pkg-ref id="com.apple.pkg.DeveloperToolsSystemSupport"/>
</choice>

<choice 
	id="XcodeExtrasHIDDEN"
	selected="!isgte106()"
	customLocation = '/'
	customLocationAllowAlternateVolumes = 'YES'
	start_visible='false'
>
	<pkg-ref id="com.apple.pkg.Xcode3.xExtras"/>
</choice>

<choice 
	id="UNIXDevelopmentSupport"
	title="UNIXDevelopmentSupport_title"
	description="UNIXDevelopmentSupport_description"
	enabled = '!isgte106()'
	start_selected = '!isgte106()'
>
</choice>

<choice 
	id="UNIXDevelopmentSupportHIDDEN"
	customLocation = '/'
	customLocationAllowAlternateVolumes = 'YES'
	visible="false"
	start_selected = '!isgte106()'
>
	<pkg-ref id="com.apple.pkg.gcc4.0ROOT"/>
	<pkg-ref id="com.apple.pkg.gcc4.2ROOT"/>
	<pkg-ref id="com.apple.pkg.DevSDK"/>
	<pkg-ref id="com.apple.pkg.X11SDKForMacOSX"/>
	<pkg-ref id="com.apple.pkg.QuickTimeSDK"/>
	<pkg-ref id="com.apple.pkg.OpenGLSDK"/>
	<pkg-ref id="com.apple.pkg.WebKitSDK"/>
	<pkg-ref id="com.apple.pkg.FireWireSDK"/>
	<pkg-ref id="com.apple.pkg.BluetoothSDK"/>
	<pkg-ref id="com.apple.pkg.CoreAudioSDK"/>
	<pkg-ref id="com.apple.pkg.JavaSDK"/>
	<pkg-ref id="com.apple.pkg.X11DocumentationROOT"/>
	<pkg-ref id="com.apple.pkg.DeveloperToolsCLIROOT"/>
</choice>

<choice 
	id="CrossDevelopmentGroup"
	title="CrossDevelopmentGroup_title"
	description="CrossDevelopmentGroup_description"
	start_enabled = '!isgte106()'
	start_selected = 'false'
>
	<pkg-ref id="com.apple.pkg.gcc3.3"/>
</choice>

<choice 
	id="WebObjectsGroup"
	title="WebObjectsGroup_title"
	description="WebObjectsGroup_description"
	start_enabled = 'isNotDowngrade()'
	start_selected = "false"
>
	<pkg-ref id="com.apple.pkg.WebObjectsDevelopment"/>
	<pkg-ref id="com.apple.pkg.WebObjectsDocumentation"/>
	<pkg-ref id="com.apple.pkg.WebObjectsExamples"/>
	<pkg-ref id="com.apple.pkg.WebObjectsRuntime"/>
</choice>

<choice 
	id="iPhoneSDK"
	title="iPhoneSDK_title"
	description="iPhoneSDK_description"
	start_visible = 'SDKPresent() || !hasRightOS() || !isIntel()'
	enabled = 'isIntel() &amp;&amp; hasRightOS() &amp;&amp; agreedToSLA()'
	start_selected = "isIntel() &amp;&amp; hasRightOS() &amp;&amp; agreedToSLA()"
>
	<pkg-ref id="com.apple.pkg.iPhoneSystemComponents"/>
</choice>
	
	<pkg-ref id="com.apple.pkg.SystemScript" auth='root'>file:../Packages/SystemScript.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.SystemScriptNONONLY" auth='root'>file:../Packages/SystemScript.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.RelocatableScript" auth='root'>file:../Packages/RelocatableScript.pkg</pkg-ref>
	
	<pkg-ref id="com.apple.pkg.DistributedBuildsSupport" auth='root'>file:../Packages/DistributedBuildsSupport.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.VersionedDeveloperToolsSystemSupport" auth='root'>file:../Packages/VersionedDeveloperToolsSystemSupport.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DeveloperToolsSystemSupport" auth='root'>file:../Packages/DeveloperToolsSystemSupport.pkg</pkg-ref>

	<pkg-ref id="com.apple.pkg.DevDocumentation" auth='root'>file:../Packages/DevDocumentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.OtherDevDocumentation" auth='root'>file:../Packages/OtherDevDocumentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DeveloperTools" auth='root'>file:../Packages/DeveloperTools.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DeveloperToolsCLI" auth='root'>file:../Packages/DeveloperToolsCLI.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DeveloperToolsCLIROOT" auth='root'>file:../Packages/DeveloperToolsCLI.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.OpenGLApps" auth='root'>file:../Packages/OpenGLApps.pkg</pkg-ref>

	<pkg-ref id="com.apple.pkg.X11Documentation" auth='root'>file:../Packages/X11Documentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.X11DocumentationROOT" auth='root'>file:../Packages/X11Documentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DevExamples" auth='root'>file:../Packages/DevExamples.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc3.3" auth='root'>file:../Packages/gcc3.3.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc3.3ADCDocs" auth='root'>file:../Packages/gcc3.3ADCDocs.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.0" auth='root'>file:../Packages/gcc4.0.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.0ROOT" auth='root'>file:../Packages/gcc4.0.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.0ADCDocs" auth='root'>file:../Packages/gcc4.0ADCDocs.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.2" auth='root'>file:../Packages/gcc4.2.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.2ROOT" auth='root'>file:../Packages/gcc4.2.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.gcc4.2ADCDocs" auth='root'>file:../Packages/gcc4.2ADCDocs.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.llvm-gcc4.2" auth='root'>file:../Packages/llvm-gcc4.2.pkg</pkg-ref>
	
	<pkg-ref id="com.apple.pkg.Xcode3.xExtras" auth='root'>file:../Packages/Xcode3.xExtras.pkg</pkg-ref>
	
	<pkg-ref id="com.apple.pkg.MacOSX10.3.9" auth='root'>file:../Packages/MacOSX10.3.9.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.MacOSX10.4.Universal" auth='root'>file:../Packages/MacOSX10.4.Universal.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.MacOSX10.5" auth='root'>file:../Packages/MacOSX10.5.pkg</pkg-ref>
	
	
	<pkg-ref id="com.apple.pkg.CHUD" auth='root'>file:../Packages/CHUD.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.WebObjectsDevelopment" auth="Root" >file:../Packages/WebObjectsDevelopment.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.WebObjectsDocumentation" auth="Root">file:../Packages/WebObjectsDocumentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.WebObjectsExamples" auth="Root">file:../Packages/WebObjectsExamples.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.WebObjectsRuntime" auth="Root">file:../Packages/WebObjectsRuntime.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DevSDK" auth='root'>file:../Packages/DevSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.BluetoothSDK" auth='root'>file:../Packages/BluetoothSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.FireWireSDK" auth='root'>file:../Packages/FireWireSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.CoreAudioSDK" auth='root'>file:../Packages/CoreAudioSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.OpenGLSDK" auth='root'>file:../Packages/OpenGLSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.QuickTimeSDK" auth='root'>file:../Packages/QuickTimeSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.WebKitSDK" auth='root'>file:../Packages/WebKitSDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.X11SDKForMacOSX" auth='root'>file:../Packages/X11SDK.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DevToolsDocumentation" auth='root'>file:../Packages/DevToolsDocumentation.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.JavaSDK" auth='root'>file:../Packages/JavaSDK.pkg</pkg-ref>


	<pkg-ref id="com.apple.pkg.iPhoneSDK2_0" auth='root'>file:../Packages/iPhoneSDK2_0.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneSDK2_1" auth='root'>file:../Packages/iPhoneSDK2_1.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneSDK2_2" auth='root'>file:../Packages/iPhoneSDK2_2.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneSDKHeadersAndLibs" auth='root'>file:../Packages/iPhoneSDKHeadersAndLibs.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneSimulatorPlatform" auth='root'>file:../Packages/iPhoneSimulatorPlatform.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneSystemComponents" auth='root'>file:../Packages/iPhoneSystemComponents.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.DeveloperDiskImage" auth='root'>file:../Packages/DeveloperDiskImage.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneHostSideTools" auth='root'>file:../Packages/iPhoneHostSideTools.pkg</pkg-ref>
	<pkg-ref id="com.apple.pkg.iPhoneDocumentation" auth='root'>file:../Packages/iPhoneDocumentation.pkg</pkg-ref>



	<pkg-ref id='com.apple.pkg.BluetoothSDK' installKBytes='890'/>
	<pkg-ref id='com.apple.pkg.CHUD' installKBytes='83098'/>
	<pkg-ref id='com.apple.pkg.CoreAudioSDK' installKBytes='1402'/>
	<pkg-ref id='com.apple.pkg.DevDocumentation' installKBytes='458646'/>
	<pkg-ref id='com.apple.pkg.DeveloperDiskImage' installKBytes='16366'/>
	<pkg-ref id='com.apple.pkg.DeveloperTools' installKBytes='452450'/>
	<pkg-ref id='com.apple.pkg.DeveloperToolsCLI' installKBytes='56158'/>
	<pkg-ref id='com.apple.pkg.DeveloperToolsCLIROOT' installKBytes='56158'/>
	<pkg-ref id='com.apple.pkg.DeveloperToolsSystemSupport' installKBytes='242'/>
	<pkg-ref id='com.apple.pkg.DevExamples' installKBytes='161698'/>
	<pkg-ref id='com.apple.pkg.DevSDK' installKBytes='181038'/>
	<pkg-ref id='com.apple.pkg.DevToolsDocumentation' installKBytes='197850'/>
	<pkg-ref id='com.apple.pkg.DistributedBuildsSupport' installKBytes='7810'/>
	<pkg-ref id='com.apple.pkg.FireWireSDK' installKBytes='162'/>
	<pkg-ref id='com.apple.pkg.gcc3.3' installKBytes='77134'/>
	<pkg-ref id='com.apple.pkg.gcc3.3ADCDocs' installKBytes='3982'/>
	<pkg-ref id='com.apple.pkg.gcc4.0' installKBytes='96994'/>
	<pkg-ref id='com.apple.pkg.gcc4.0ADCDocs' installKBytes='6530'/>
	<pkg-ref id='com.apple.pkg.gcc4.0ROOT' installKBytes='96994'/>
	<pkg-ref id='com.apple.pkg.gcc4.2' installKBytes='109586'/>
	<pkg-ref id='com.apple.pkg.gcc4.2ADCDocs' installKBytes='7082'/>
	<pkg-ref id='com.apple.pkg.gcc4.2ROOT' installKBytes='109586'/>
	<pkg-ref id='com.apple.pkg.iPhoneDocumentation' installKBytes='51413'/>
	<pkg-ref id='com.apple.pkg.iPhoneHostSideTools' installKBytes='62871'/>
	<pkg-ref id='com.apple.pkg.iPhoneSDK2_0' installKBytes='573200'/>
	<pkg-ref id='com.apple.pkg.iPhoneSDK2_1' installKBytes='518868'/>
	<pkg-ref id='com.apple.pkg.iPhoneSDK2_2' installKBytes='544612'/>
	<pkg-ref id='com.apple.pkg.iPhoneSDKHeadersAndLibs' installKBytes='144323'/>
	<pkg-ref id='com.apple.pkg.iPhoneSimulatorPlatform' installKBytes='408791'/>
	<pkg-ref id='com.apple.pkg.iPhoneSystemComponents' installKBytes='23311'/>
	<pkg-ref id='com.apple.pkg.JavaSDK' installKBytes='140594'/>
	<pkg-ref id='com.apple.pkg.llvm-gcc4.2' installKBytes='132218'/>
	<pkg-ref id='com.apple.pkg.MacOSX10.3.9' installKBytes='150038'/>
	<pkg-ref id='com.apple.pkg.MacOSX10.4.Universal' installKBytes='168442'/>
	<pkg-ref id='com.apple.pkg.MacOSX10.5' installKBytes='238102'/>
	<pkg-ref id='com.apple.pkg.OpenGLApps' installKBytes='14154'/>
	<pkg-ref id='com.apple.pkg.OpenGLSDK' installKBytes='3674'/>
	<pkg-ref id='com.apple.pkg.OtherDevDocumentation' installKBytes='21674'/>
	<pkg-ref id='com.apple.pkg.QuickTimeSDK' installKBytes='2946'/>
	<pkg-ref id='com.apple.pkg.RelocatableScript' installKBytes='0'/>
	<pkg-ref id='com.apple.pkg.SystemScript' installKBytes='0'/>
	<pkg-ref id='com.apple.pkg.SystemScriptNONONLY' installKBytes='0'/>
	<pkg-ref id='com.apple.pkg.VersionedDeveloperToolsSystemSupport' installKBytes='714'/>
	<pkg-ref id='com.apple.pkg.WebKitSDK' installKBytes='946'/>
	<pkg-ref id='com.apple.pkg.WebObjectsDevelopment' installKBytes='3754'/>
	<pkg-ref id='com.apple.pkg.WebObjectsDocumentation' installKBytes='121442'/>
	<pkg-ref id='com.apple.pkg.WebObjectsExamples' installKBytes='66862'/>
	<pkg-ref id='com.apple.pkg.WebObjectsRuntime' installKBytes='186894'/>
	<pkg-ref id='com.apple.pkg.X11Documentation' installKBytes='6798'/>
	<pkg-ref id='com.apple.pkg.X11DocumentationROOT' installKBytes='6798'/>
	<pkg-ref id='com.apple.pkg.X11SDKForMacOSX' installKBytes='7670'/>
	<pkg-ref id='com.apple.pkg.Xcode3.xExtras' installKBytes='2526'/>
</installer-gui-script>
